SERVICES_API_PORT = "5000"

ENV=development


POSTGRES_USER = "user"
POSTGRES_PASSWORD = "password"
POSTGRES_DB = "dbname"
POSTGRES_PORT = "5432"
POSTGRES_HOST = "container-name"

API_KEY=
API_SERVICE_MANAGER=


