DATABASE_URL = postgres://user:password@ip:port/dbname
EXTERNAL_SERVICES_API_PORT = "5000"
SERVICES_API_PORT = "5001"
POSTGRES_USER = "user"
POSTGRES_PASSWORD = "password"
POSTGRES_DB = "dbname"
POSTGRES_PORT = "543"
POSTGRES_HOST = "container-name"